.swiper-button-next,
.swiper-button-prev {
  color: #00B69B !important;
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}
